This is a replica of this: https://app.datacamp.com/workspace/w/01b3d6d5-8494-4c07-937f-0d1833ab1837?utm_source=customerio&utm_medium=email&utm_campaign=230323_1-workspace-nl-b_2-mix_3-all_4-na_5-nl_6-workspacenl_7-ws_8-emal-ci_9-na_10-bau_11-email&utm_content=blast

In [1]:
import pandas as pd

## Ingest

In [2]:
df = pd.read_csv('sets.csv')

## Analysis

In [4]:
df.head()

,set_num,name,year,theme_id,num_parts,img_url
0,001-1,Gears,1965,1,43,https://cdn.rebrickable.com/media/sets/001-1.jpg
1,0011-2,Town Mini-Figures,1979,67,12,https://cdn.rebrickable.com/media/sets/0011-2.jpg
2,0011-3,Castle 2 for 1 Bonus Offer,1987,199,0,https://cdn.rebrickable.com/media/sets/0011-3.jpg
3,0012-1,Space Mini-Figures,1979,143,12,https://cdn.rebrickable.com/media/sets/0012-1.jpg
4,0013-1,Space Mini-Figures,1979,143,12,https://cdn.rebrickable.com/media/sets/0013-1.jpg

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20946 entries, 0 to 20945
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   set_num    20946 non-null  object
 1   name       20946 non-null  object
 2   year       20946 non-null  int64
 3   theme_id   20946 non-null  int64
 4   num_parts  20946 non-null  int64
 5   img_url    20946 non-null  object
dtypes: int64(3), object(3)
memory usage: 982.0+ KB

In [7]:
df.describe()

               year     theme_id     num_parts
count  20946.000000  20946.00000  20946.000000
mean    2007.283395    438.80211    160.195550
std       13.956646    217.03250    411.718697
min     1949.000000      1.00000      0.000000
25%     2001.000000    259.00000      4.000000
50%     2012.000000    497.00000     32.000000
75%     2018.000000    608.00000    141.000000
max     2023.000000    746.00000  11695.000000

1. What is the average number of Lego sets released per year over the total time span of our data?
To calculate the average number of Lego sets released per year, we'll follow these steps :

determine the total amount of sets (aliased here as total_sets),
determine the total amount of years (aliased here as total_years),
calcute the average by dividing the total amount of sets by the total amount of years.

In [13]:
# 1. Determine the total amount of sets (aliased here as total_sets),
total_sets = df.set_num.unique().size
total_years =  df.year.unique().size
avg_sets_per_year = total_sets/total_years
print(total_sets, total_years, avg_sets_per_year)

20946 73 286.93150684931504

2. What is the average number of Lego parts over total time span and per year?
2.1 What is the average number of Lego parts per year over the total time span of our data?
We can calculate the average number of Lego parts as follows :

In [18]:
# 1. Determine the total amount of parts (aliased here as total_parts)
total_parts = df.num_parts.sum()
# 2. Determine the total amount of years (aliased here as total_years)
total_years =  df.year.unique().size
# 3. Calculate the average by dividing the total amount of parts by the total amount of years
average_number_of_parts = total_parts/total_years
print(total_parts, total_years, average_number_of_parts )

3355456 73 45965.150684931505

In [19]:
import numpy as np
z = np.array([[28, 0, 13], 
              [19, 3, 10]])
print(z[1][2])

10